body,
html {
  height: 100%;
  margin: 0;
  /* 去除默认的外边距 */
  background-color: burlywood;
  display: flex;
  flex-direction: column;
}

.idx {
  display: flex;
  flex: 1;
  flex-direction: column;
  width: 100%;
  background-color: darkgray;
}

.index_headr {
  width: 100%;
  height: 50px;
  background-color: aquamarine;
}

.index_bodyr {
  flex: 1;
  width: 100%;
  height: calc(100% - 200px);
  /* 使用 calc() 函数进行计算 */
  background-color: red;
}

.index_footr {
  text-align: center;
  font-size: 40px;
  width: 100%;
  height: 100px;
  color: #a82062;
  background-color: rgb(88, 60, 27);
}
.index_footr a{
  margin: 0 30px 0 30px;
}
.index_footr a:hover{
 color: #22d79b;
}
.ind_Carousel {
  width: 100%;
  height: 380px;
  background-color: gold;
  padding: 23px 0 0 0;
}

.indx_Crptc {
  width: 1100px;
  height: 350px;
  overflow: hidden;
  background-color: aqua;
  margin: 0 auto;
  border-radius: 15px 15px 15px 15px;
  box-shadow: 5px 5px 15px #f3e3d3;
}

.idx_theme {
  width: 1450px;
  padding: 30px 0 0 0;
  display: flex;
  color: cyan;
  flex-wrap: wrap;
  justify-content: center;
  background-color: darkorchid;
  margin: 0 auto;
  /* 水平居中 */
}

.idx-theme-item {
  width: 350px;
  margin: 25px;
  text-align: center;
  border: 1px solid #ddd;
  /* 边框样式 */
  padding: 10px;
}

#idx_Crpt_a {
  /* padding: 0 60px 0 60px; */
}

#idx_Crpt_img {
  width: 1200px;
}

#carousel-container {
  width: 100%;
  overflow: hidden;
}

.menu_1 {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
  background: linear-gradient(to right, #00dbde, #fc00ff);
  color: #fff;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
}

.menu_1 li {
  width: 120px;
  text-align: center;
  position: relative;
  transition: background-color 0.3s ease-in-out;
}

.menu_1 li a {
  display: block;
  padding: 12px 16px;
  text-decoration: none;
  color: inherit;
}

.menu_1 li:hover {
  background-color: rgba(159, 127, 127, 0.1);
}

.menu_2 {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 110px;
  z-index: 1;
  background-color: #222;
  /* 背景颜色 */
  border-radius: 10px;
  box-shadow: 0px 6px 6px rgba(185, 106, 106, 0.5);
  overflow: hidden;
  /* 隐藏超出部分 */
  transform: translateY(-20px);
  opacity: 0;
  transition: all 0.4s ease;
}

.menu_1 li:hover .menu_2 {
  display: block;
  opacity: 1;
  transform: translateY(0);
  z-index: 1;
}
.menu_1 li:hover .menu_2 li {
  opacity: 1;
  transform: translateY(0);
}
.menu_2:before {
  content: "▷";
  position: absolute;
  top: 10px;
  left: 30%;
  width: 20px;
  height: 20px;
  background: #222;
  border-top: 1px solid #ac1229;
  border-left: 1px solid #ac1229;
  transform: translateX(-50%) rotate(45deg);
}

.menu_2 li {
  width: 100%;
  margin: 0;
  padding: 8px 0;
  list-style: none;
  text-align: center;
  opacity: 0;
  transform: translateY(-10px);
  transition: all 0.3s ease;
}

.menu_2 li a {
  display: block;
  color: #fff;
  font-size: 14px;
  text-decoration: none;
  transition: color 0.3s ease;
}

.menu_2 li:hover {
  background-color: #444;
  transform: translateY(0);
  opacity: 1;
}

.menu_2 li a:hover {
  color: #00dbde;
  /* 鼠标悬停时改变文字颜色 */
}
